*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 20%;
    border: 1px solid green;
    color: white;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/082/622/original/poker-background-with-playing-cards-and-chips-on-green-casino-background-modern-poker-widescreen-wallpaper-vector.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

